body {
		background-color: #468966;
		position: relative;
}
div#container	{
	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);

 	text-align: center;

 	color: #FFB03B;
 	font-family: 'Roboto', sans-serif;
}

div#container span#header{
    font-size: 30pt;
	font-family: 'Ubuntu', sans-serif;
	color: #FFF0A5;
}
div#container span#subHeader{
    font-size: 20pt;
}

div#links a{

	margin: 4px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;

	padding: 8px;
    font-size: 24pt;
/*	border-radius: 8px;*/
/*	background-color: #FFB03B;*/
	color: #FFF0A5;
}

div#links a:hover{
	color: #FFB03B;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#links {
    margin-top: 30px;
    display: none;
}
