body {
		background-color: #468966;
		position: relative;
}
div#container	{
	position: absolute;
 	top: 50%;
 	left: 50%;
 	transform: translate(-50%, -50%);

 	text-align: center;

 	color: #FFB03B;
 	font-family: 'Roboto', sans-serif;
}

div#container h1{
	font-family: 'Ubuntu', sans-serif;
	color: #FFF0A5;
}

div#links a{

	margin: 4px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;

	padding: 8px;
	border-radius: 8px;
	background-color: #FFB03B;
	color: #FFF0A5;
}

div#links a:hover{
	background-color: #B64926;
}